<h1>Files</h1>
<div>
  <table class="table table-stripped table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Absolute Path</th>
        <th>Creation Time</th>
        <th>Updating Time</th>
        <th>Owner</th>
        <th>Group</th>
        <th>Permissions</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @data_sets.each do |data_set| %>
          <tr>
            <td><%= data_set.name %></td>
            <td><%= data_set.size %></td>
            <td><%= data_set.absolute_path %></td>
            <td><%= data_set.creation_time %></td>
            <td><%= data_set.updating_time %></td>
            <td><%= data_set.owner %></td>
            <td><%= data_set.group %></td>
            <td><%= data_set.permissions %></td>
            <td><%= link_to 'Show', data_set, class: 'btn btn-default' %></td>
          </tr>
      <% end %>
    </tbody>
    <%= paginate @data_sets %>
  </table>
  <br>
  <%= link_to 'Update info', update_files_data_sets_path, class: 'btn btn-default' %>
</div>
