<h1>File info</h1>
<div class="col-sm-8">
  <dl>
    <dt>Name</dt>
    <dd><%= @data_set.name %></dd>
    <dt>Size</dt>
    <dd><%= @data_set.size %></dd>
    <dt>Absolute Path</dt>
    <dd><%= @data_set.absolute_path %></dd>
    <dt>Creation Time</dt>
    <dd><%= @data_set.creation_time %></dd>
    <dt>Updating Time</dt>
    <dd><%= @data_set.updating_time %></dd>
    <dt>Owner</dt>
    <dd><%= @data_set.owner %></dd>
    <dt>Group</dt>
    <dd><%= @data_set.group %></dd>
    <dt>Permissions</dt>
    <dd><%= @data_set.permissions %></dd>
  </dl>
</div>
